@import url(https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@500;600;700;800&display=swap);

* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 500;
}

:root {
  /* Colours */
  --orange:hsl(26, 100%, 55%);
  --pale-orange:hsl(25, 100%, 94%);
  --very-dark-blue: hsl(220, 13%, 13%);
  --dark-grayish-blue: hsl(219, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%); /*(with 75% opacity for lightbox background) */
}

.flex {
  display: flex;
}

.orange-button {
  text-align: center;
  padding: 1rem 1.5rem;
  background: var(--orange);
  border-radius: 0.5rem;
  color: var(--white);
  height: 3rem;
}

#header {
  display: flex;
  height: 60px;
  padding: 15px;
  gap:16px;
  align-items: center;
}

#hamburger {
  height: 15px;
}

#logo {
  margin-right: auto;
}

#avatar {
  height: 20px;
}

#side-nav {
  position: fixed;
  padding:1.5rem;
  background: var(--white);
  width: 70%;
  z-index: 1;
  transition: all 200ms ease-in-out;
}

.side-nav-closed {
  inset:0 -75%;
}

.side-nav-open {
  inset:0;
  box-shadow: 0 0 0 10000px rgba(0, 0, 0, 0.5);
}

#side-nav-close-button {
  filter: brightness(150%);
}

#side-nav ul {
  margin-top: 2rem;
  list-style-type: none;
}

#side-nav li {
  margin-bottom: 1.5rem;
}

#side-nav a {
  font-size: 1rem;
  font-weight: 700;
  color: var(--very-dark-blue);
  text-decoration: none;
}

#cart-window {
  position: absolute;
  inset: 60px 0;
  z-index: 1;
  background: var(--white);
  border-radius: 1rem;
  margin: 10px;
}

#cart-window .top,
#cart-window .bottom {
  padding: 1.5rem;
}

#cart-window .bottom {
  border-top: 1px solid var(--light-grayish-blue);
}

#cart-window .bottom p {

}



#product-image-container {
  position: relative;
  width: 100%;
  aspect-ratio: 1;
  /* background-color: rgb(236, 116, 18); */
}

#product-image {
  width: 100%;
}

#previous-button,
#next-button {
  background: white;
  padding: 10px;
  border-radius: 50%;
  width: 30px;
  aspect-ratio: 1;
  /* Center vertically */
  position: absolute;
  top: 50%;
  transform: translate(40%, -50%);
}

#next-button {
  left:100%;
  transform: translate(-140%, -50%);
}

#lower-container {
  padding: 1rem;
}

#title {
  color: var(--orange);
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 800;
  margin-bottom: 0.5rem;
  letter-spacing: 0.1rem;
}

#product-name {
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: var(--very-dark-blue)
}

#product-description {
  color: var(--dark-grayish-blue);
  font-size: 0.9rem;
  line-height: 1.4rem;
  margin-bottom: 1rem;
}

#price {
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

#discounted-price {
  color: var(--very-dark-blue);
  font-size: 1.75rem;
  font-weight: 700;
}

#discount {
  font-size: 1rem;
  font-weight: 700;
  padding: 0.2rem 0.35rem;
  color: var(--orange);
  background: var(--pale-orange);
  border-radius: 0.4rem;
}

#original-price {
  font-size: 1rem;
  font-weight: 700;
  color: var(--grayish-blue);
  text-decoration: line-through 1px;
  margin-left: auto;
}

#item-counter {
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background: var(--light-grayish-blue);
  border-radius: 0.5rem;
  height: 3rem;
  margin-bottom: 1rem;
}

#minus {
  width: 0.8rem;
  height: 0.25rem;
}

#plus {
  width: 0.8rem;
  height: 0.8rem;
}

#item-counter p {
  font-weight: 700;
}

#add-container {
  justify-content: center;
  align-items: center;
  gap: 1rem;
  box-shadow: 0 2rem 2.5rem -1.1rem var(--orange);
  margin-bottom: 4rem;
}

#add-container p {
  font-weight: 700;
}

#add-container img {
  width: 1rem;
  filter: brightness(1000%) ;
}