@import url(https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@500;600;700;800&display=swap);

* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 500;
}

:root {
  /* Colours */
  --orange:hsl(26, 100%, 55%);
  --pale-orange:hsl(25, 100%, 94%);
  --very-dark-blue: hsl(220, 13%, 13%);
  --dark-grayish-blue: hsl(219, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%); /*(with 75% opacity for lightbox background) */
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.orange-button {
  text-align: center;
  padding: 0.9rem 1.5rem;
  background: var(--orange);
  border-radius: 0.5rem;
  color: var(--white);
}

#header {
  display: flex;
  height: 60px;
  padding: 15px;
  gap:16px;
  align-items: center;
}

#hamburger {
  height: 15px;
}

#cart {
  margin-left: auto;
}

#avatar {
  height: 20px;
}

#desktop-nav {
  display: none;
}

#side-nav {
  position: fixed;
  padding:1.5rem;
  background: var(--white);
  width: 70%;
  z-index: 2;
  transition: all 200ms ease-in-out;
}

.side-nav-closed {
  inset:0 -75%;
}

.side-nav-open {
  inset:0;
  box-shadow: 0 0 0 10000px rgba(0, 0, 0, 0.5);
}

#side-nav-close-button {
  filter: brightness(150%);
}

#side-nav ul {
  margin-top: 2rem;
  list-style-type: none;
}

#side-nav li {
  margin-bottom: 1.5rem;
}

#side-nav a {
  font-size: 1rem;
  font-weight: 700;
  color: var(--very-dark-blue);
  text-decoration: none;
}

#cart-window {
  position: absolute;
  top: 60px;
  z-index: 1;
  background: var(--white);
  border-radius: 0.5rem;
  margin-top: 3vw;
  margin-left: 3vw;
  width: 94vw;
  transition: left 200ms ease-in-out;
}

.cart-open {
  left: 0px;
}

.cart-closed {
  left: -100vw;
}

#cart-window .top,
#cart-window .bottom {
  padding: 1.5rem;
}

#cart-window .bottom {
  display: flex;
  flex-direction: column;
  min-height: 10rem;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--light-grayish-blue);
}

#cart-window #cart-title {
  font-weight: 700;
  font-size: 1rem;
  color: var(--very-dark-blue);
}

#cart-window.bottom.cart-empty {
  color: var(--dark-grayish-blue);
  font-weight: 700;
  font-size: 0.9rem;
}

#cart-content-container {
  width: 100%;
}

#cart-items-container {
  width: 100%;
  gap:1rem;
}

.cart-item {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.item-img {
  justify-self: flex-start;
  width: 20%;
  border-radius: 10%;
}

.item-info {
  justify-content: center;
  gap: 0.4rem;
  width: 60%;
}

.item-name {
  color: var(--dark-grayish-blue);
  font-weight: 600;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-cost-single {
  color: var(--dark-grayish-blue);
  font-weight: 600;
}

.item-cost-total {
  margin-left: 0.5rem;
  color: var(--very-dark-blue);
  font-weight: 700;
}

.item-bin {
  height: 1rem;
  margin-left: auto;
}

#checkout {
  margin-top: 1rem;
}

#product-image-container {
  position: relative;
  width: 100%;
  aspect-ratio: 1;
  /* background-color: rgb(236, 116, 18); */
}

#product-image-thumbnail-container {
  display: none;
}

#product-image {
  width: 100%;
}

#previous-button,
#next-button {
  background: white;
  padding: 10px;
  border-radius: 50%;
  width: 30px;
  aspect-ratio: 1;
  /* Center vertically */
  position: absolute;
  top: 50%;
  transform: translate(40%, -50%);
}

#next-button {
  left:100%;
  transform: translate(-140%, -50%);
}

#lower-container {
  padding: 1rem;
}

#title {
  color: var(--orange);
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 800;
  margin-bottom: 0.5rem;
  letter-spacing: 0.1rem;
}

#product-name {
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: var(--very-dark-blue)
}

#product-description {
  color: var(--dark-grayish-blue);
  font-size: 0.9rem;
  line-height: 1.4rem;
  margin-bottom: 1rem;
}

#price {
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

#discounted-price {
  color: var(--very-dark-blue);
  font-size: 1.75rem;
  font-weight: 700;
}

#discount {
  font-size: 1rem;
  font-weight: 700;
  padding: 0.2rem 0.35rem;
  color: var(--orange);
  background: var(--pale-orange);
  border-radius: 0.4rem;
}

#original-price {
  font-size: 1rem;
  font-weight: 700;
  color: var(--grayish-blue);
  text-decoration: line-through 1px;
  margin-left: auto;
}

#count-add-container {
  flex-direction: column;
}

#item-counter {
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background: var(--light-grayish-blue);
  border-radius: 0.5rem;
  height: 3rem;
  margin-bottom: 1rem;
}

#minus {
  width: 0.8rem;
  height: 0.25rem;
}

#plus {
  width: 0.8rem;
  height: 0.8rem;
}

#item-counter p {
  font-weight: 700;
}

#add-container {
  justify-content: center;
  align-items: center;
  gap: 1rem;
  box-shadow: 0 2rem 2.5rem -1.1rem var(--orange);
  margin-bottom: 4rem;
  background: var(--orange);
  border-radius: 0.5rem;
}

#add-container:hover {
  opacity: 0.5;
}

#add-container p {
  font-weight: 700;
}

#add-container img {
  width: 1rem;
  filter: brightness(1000%) ;
}

@media screen and (min-width:1000px) {
  #header {
    border-bottom: 2px solid var(--light-grayish-blue);
    margin: 5rem;
    padding-bottom: 3rem;
    gap: 1.5rem;
  }

  #desktop-nav {
    display: block;
  }

  #desktop-nav ul {
    display: flex;
    margin-left: 2rem;
    gap: 2rem;
    list-style-type: none;
  }

  #desktop-nav a {
    position: relative;
    text-decoration: none;
    font-size: 1.125rem;
    color: var(--grayish-blue);
  }

  #desktop-nav a:hover {
    position: relative;
    color: var(--dark-grayish-blue);
  }

  #desktop-nav a:hover::after {
    position: absolute;
    content:'';
    top:3.5rem;
    left:0;
    width: 100%;
    height: 4px;
    background: var(--orange);
  }

  #cart, #avatar {
    width: 30px;
    height: 30px;
  }

  #hamburger {
    display: none;
  }

  #cart-window-container {
    position: absolute;
    overflow: hidden;
    top: 6rem;
    right: 0;
    width: 400px;
    z-index: 1;
    margin-top: 3vw;
    margin-right: 3vw;
  }
  
  #cart-window {
    position: relative;
    margin: 0;
    top: 0;
    left: auto;
    background: var(--white);
    border-radius: 0.5rem;
    box-shadow: 0 0 4rem -4rem #000;
    width: 100%;
    transition: right 200ms ease-in-out;
  }

  .cart-open {
    right: 0;
  }

  .cart-closed {
    right: -110%;
  }

  #main {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 6rem;
    margin: 0 10vw;
    align-items: center;
  }

  #product-image-container {
    position: relative;
    width: 100%;
    aspect-ratio: 1;
    /* background-color: rgb(236, 116, 18); */
  }

  #product-image {
    width: 100%;
    border-radius: 1rem;
  }

  #previous-button,
  #next-button {
    display:none;
  }

  #product-image-thumbnail-container {
    display: flex;
    margin-top: 1.5rem;
    justify-content: space-between;
  }
  
  .product-image-thumbnail {
    width: 20%;
    border-radius: 0.5rem;
  }

  .product-image-thumbnail:hover {
    opacity: 0.5;
  }

  .active-thumbnail {
    opacity: 0.5;
    border: 3px solid var(--orange);
  }

  #lower-container #title {
    font-size: 0.8rem;
  }

  #product-name {
    font-size: 2.7rem;
    margin: 1rem 0 2.5rem 0;
  }

  #price {
    margin: 1.5rem 0;
    flex-wrap: wrap;
  }

  #original-price {
    flex-basis: 100%;
  }

  #count-add-container {
    margin-top: 2rem;
    gap: 1rem;
    flex-direction: row;
    justify-content: center;
  }

  #item-counter {
    flex-basis: 40%;
  }

  #plus:hover, #minus:hover {
    opacity: 0.5;
  }

  #add-container {
    flex-basis: 60%;
  }

}